/* login page styles */
.container{
    width: 600px;
    height: auto;
}

/* homepage styles */
.navbar{ 
    padding: 5px 10px 5px 10px;
}

.nav-item{
    padding-top: 10px;
}

.nav-item-logout{
    padding: 10px;
}

#mission, #values, #events, #visual-elements, #interactive-features, #resource-library{
    padding: 0 20px 0 20px;
}

.form-control-testimonial{
    margin: auto;
    width: 500px;
}

.img-fluid{
    margin: auto;
}

.shadow-effect {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s ease;
  }
  
  .shadow-effect:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

/* responsivies */
@media (max-width: 768px) {
    .navbar{
        padding: 10px;
    }

    .nav-item-logout{
        padding: 0;
    }

    .form-control-testimonial{
        margin: auto;
        width: 350px;
    }

    .res-struct{
        margin-bottom: 20px;
    }
}